body
{
	background-image:url("files/images/background.png");
	background-size:100%;
	background-repeat:no-repeat;
	object-fit:contain;
}
video
{
	position:absolute;
	width:60vw;
	height:33.75vw;
	top:10vw;
	left:20vw;
}
.blue_crystal_with_yellow_red_frames
{
	display:block;
	position:absolute;
	font-size:1.5vw;
	color:white;
	border:none;
	background-image:url("files/buttons/blue crystal with yellow-red frames/normal.png");
	background-size:100%100%;
	background-color:rgba(0,0,0,0);
	width:14.6vw;
	height:4.5vw;
	top:0vw;
	left:42.7vw;
	cursor:pointer;
}
.blue_crystal_with_yellow_red_frames:hover
{
	background-image:url("files/buttons/blue crystal with yellow-red frames/cursor above.png");
}
.blue_orange_rubber_and_metal_frame_with_crystals
{
	display:block;
	position:absolute;
	font-size:1.5vw;
	color:white;
	border:none;
	background-image:url("files/buttons/blue-orange rubber and metal frame with crystals/normal.png");
	background-size:100%100%;
	background-color:rgba(0,0,0,0);
	width:15vw;
	height:4.5vw;
	top:0vw;
	left:42.5vw;
	cursor:pointer;
}
.blue_orange_rubber_and_metal_frame_with_crystals:hover
{
	background-image:url("files/buttons/blue-orange rubber and metal frame with crystals/cursor above.png");
}
.newspaper
{
	display:block;
	position:absolute;
	border:none;
	background-image:url("files/buttons/newspaper/normal.png");
	background-size:100%100%;
	background-color:rgba(0,0,0,0);
	width:7vw;
	height:4.5vw;
	top:0vw;
	left:42.5vw;
	cursor:pointer;
}
.newspaper:hover
{
	background-image:url("files/buttons/newspaper/cursor above.png");
}
.purple_green_glass_and_metal_frame_with_spikes
{
	display:block;
	position:absolute;
	font-size:1.5vw;
	color:white;
	border:none;
	background-image:url("files/buttons/purple-green glass and metal frame with spikes/normal.png");
	background-size:100%100%;
	background-color:rgba(0,0,0,0);
	width:12.8vw;
	height:4.5vw;
	top:0vw;
	left:44vw;
	cursor:pointer;
}
.purple_green_glass_and_metal_frame_with_spikes:hover
{
	background-image:url("files/buttons/purple-green glass and metal frame with spikes/cursor above.png");
}
.wood_with_metal_frame_and_screws
{
	display:block;
	position:absolute;
	font-size:1.5vw;
	color:white;
	border:none;
	background-image:url("files/buttons/wood with metal frame and screws/normal.png");
	background-size:100%100%;
	background-color:rgba(0,0,0,0);
	width:12vw;
	height:4.5vw;
	top:0vw;
	left:44vw;
	cursor:pointer;
}
.wood_with_metal_frame_and_screws:hover
{
	background-image:url("files/buttons/wood with metal frame and screws/cursor above.png");
}