body
{
	background-image:url("files/images/background.png");
	background-size:100%;
	background-repeat:no-repeat;
}
video
{
	position:absolute;
	width:60vw;
	height:33.75vw;
	top:10vw;
	left:20vw;
}
.wood_with_metal_frame_and_screws
{
	display:block;
	position:absolute;
	font-size:1.5vw;
	color:white;
	border:none;
	background-image:url("files/buttons/wood with metal frame and screws/normal.png");
	background-size:100%100%;
	background-color:rgba(0,0,0,0);
	width:12vw;
	height:4.5vw;
	top:0vw;
	left:44vw;
	cursor:pointer;
}
.wood_with_metal_frame_and_screws:hover
{
	background-image:url("files/buttons/wood with metal frame and screws/cursor above.png");
}